body {
  background-color: darkslategrey;
  margin: auto;
  color: whitesmoke;
  font: 3em sans-serif;
  height: 1000px;
  opacity: 100%;
  transition: 3s;
  text-transform: uppercase;
}

.box {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}

.fadeout {
  opacity: 0%;
  transition: 3s;
}

#name1, #name2 {
  margin: 1em;
}

.names {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
  margin: auto;
}

#event {
  margin-top: 1em;
}

svg .spinOff {
  visibility: hidden;
}